.slides.screen > div.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  z-index: -1;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;

&.active {
    z-index: 9999;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
}
