@import "boxed-variables";

$tcc_orange: #FFEE00;
$tcc-gray: #515151;
$tcc-gray-light: lighten($tcc-gray, 20%);
$tcc-gray-lighter: lighten($tcc-gray, 40%);
$tcc-gray-lightest: lighten($tcc-gray, 78%);
$tcc-quote-highlight: $tcc-orange;

$tcc-slide-title-background: none;
$tcc-slide-title-center-background: none;

$tcc-regular-header-background: url("assets/images/webinale_artwork.jpg") left 18% no-repeat;
$tcc-regular-footer-background: url("assets/images/webinale_artwork.jpg") left bottom no-repeat;


// ****************************************************************************************************
// general
// ****************************************************************************************************

$font-size-base: 33px;
$table-bg-accent: $tcc-code-bg-1;

// Core variables and mixins
@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap//variables";
@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/mixins";

// Reset
@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/normalize";
//@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/print";

// Core CSS
@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/type";
@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/code";
@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/forms";
@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/buttons";
@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/tables";

// Utility classes
@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/utilities";
@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";


@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/modals";

// ****************************************************************************************************
// w11k-slides config
// ****************************************************************************************************

$theCodeCampus_orange: $tcc_orange;
$w11k-cornerRibbon-distance: 5em;
$w11k-cornerRibbon-background-color: linear-gradient(to left, $tcc-gray, lighten($tcc-gray, 7%));
$w11k-cornerRibbon-border-color: $tcc-gradient-orange-end;

$w11k-prettyPrint-line-color: $tcc-code-bg-1;
$w11k-prettyPrint-line-color-alternate: $tcc-code-bg-2;
$w11k-prettyPrint-line-color-highlight: $tcc-code-bg-3;

@import "w11k-slides/dist/variables";
@import "w11k-slides/dist/slides/mixins";
@import "w11k-slides/dist/corner-ribbon/corner-ribbon";

@import "boxed-print";
@import "boxed";
@import "overlay";

// ****************************************************************************************************
// slides content
// ****************************************************************************************************

.tcc-2016 {
  .slides.export > .slide-container > div > .slide {
    &.title {
      font-size: 16pt;

      h1 {
        font-size: 3em;
      }
    }

    &.end {
      font-size: 1em;
    }
  }

  .slides > .slide-container > div > .slide {

    a {
      color: black;
      text-decoration: none;

      &[href^="#"] {
        color: black;
      }

      &[href^="http"], &[href^="mailto"] {
        color: black;
        text-decoration: underline;
      }

    }

    &.title {
      background: url("assets/images/webinale_artwork.jpg") left 67% no-repeat;
      background-size: cover;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;

      padding-top: 4%;

      .center {
        .content {
          h1 {
            margin-top: 16px;
          }

          text-align: center;
          text-shadow: 1px 1px 3px white;
        }
      }
    }

    &.master-regular {
      .header, .footer {
        background-size: cover;
      }
    }

    &.end {
      display: flex;
      width: 100%;
      height: 100%;
      padding-top: 20vh;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      background: url("assets/images/webinale_artwork.jpg") left 67% no-repeat;
      background-size: cover;

      font-size: 1.5em;

      > div {
        text-align: center;
        color: black;
        text-shadow: 1px 1px 3px white;
        a, a:visited, a[href^="http"], a[href^="mailto"] {
          color: black;
          text-decoration: none;
        }
      }

    }
  }
}
